extends layout

block content
  h1= title
  table(class= "table table-stripped")
    thead.thead-blue
      td ID
      td Nombre 
      td Juego        
      td Años de Experiencia
    tbody(class=players)
